<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      
      <!-- not allow duplicate item names on the same level -->
      <setting name="AllowDuplicateItemNamesOnSameLevel">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      
      <!--  SITECORE SERVICES SECURITY POLICY
            Specifies the Sitecore.Services.Infrastructure.Web.Http.Security.IAuthorizePolicy derived type that will set the security policy 
            for the Sitecore services.
            
            Policies:
            
            Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOffPolicy, Sitecore.Services.Infrastructure
            - Policy denies access to all Entity and Item Services
            
            Sitecore.Services.Infrastructure.Web.Http.Security.ServicesLocalOnlyPolicy, Sitecore.Services.Infrastructure
            - Policy denies access to all Entity and Item Services from requests originating from remote clients
            
            Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOnPolicy, Sitecore.Services.Infrastructure
            - Policy allows access to all Entity and Item Services

            Default: Sitecore.Services.Infrastructure.Web.Http.Security.ServicesLocalOnlyPolicy, Sitecore.Services.Infrastructure      
      -->
      <setting name="Sitecore.Services.SecurityPolicy" value="Sitecore.Services.Infrastructure.Web.Http.Security.ServicesLocalOnlyPolicy, Sitecore.Services.Infrastructure">
        <patch:attribute name="value">Sitecore.Services.Infrastructure.Web.Http.Security.ServicesOffPolicy, Sitecore.Services.Infrastructure</patch:attribute>
      </setting>

      <!--  SITECORE SERVICES ALLOW ANONYMOUS USER
            Specifies whether anonymous users will be permitted to access the Sitecore Item Web API services
            Default: false      
      -->
      <!--<setting name="Sitecore.Services.AllowAnonymousUser">
        <patch:attribute name="value">true</patch:attribute>
      </setting>-->

      <!--  SITECORE SERVICES TOKEN AUTHORIZATION
            Specifies if enabled Authorization Tokens are enabled or not. 
            The setting Sitecore.Services.Token.SecurityKey is needed in ConnectionString.config.
            Example: <add name="Sitecore.Services.Token.SecurityKey" connectionString="key=GHUwnYMxb75Td25yqyVdQQ8QQ8RzBG6T" />
            Default: false.
      -->
      <setting name="Sitecore.Services.Token.Authorization.Enabled">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>
