<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- not allow duplicate item names on the same level -->
      <setting name="AllowDuplicateItemNamesOnSameLevel">
        <patch:attribute name="value">false</patch:attribute>
      </setting>      
    </settings>
  </sitecore>
</configuration>
