<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <api>
      <!--http://www.coreblimeysitecore.com/blog/token-based-authentication-with-sitecore-services-client/-->
      <tokenSecurity>
        <signingProvider type="Sitecore.Services.Infrastructure.Sitecore.Security.SymetricKeySigningProvider, Sitecore.Services.Infrastructure.Sitecore">
          <param desc="connectionStringName">Sitecore.Services.Token.SecurityKey</param>
        </signingProvider>
        <!--<signingProvider type="Sitecore.Services.Infrastructure.Sitecore.Security.X509SigningProvider, Sitecore.Services.Infrastructure.Sitecore">
          <param desc="thumbprint">‎‎fe14593dd66b2406c5269d742d04b6e1ab03adb1</param>
          <param desc="storeName">TrustedPublisher</param>
          <param desc="storeLocation">LocalMachine</param>
        </signingProvider>-->
      </tokenSecurity>
      <services>
        <configuration>
          <filters hint="list:AddFilter">
            <!--  Decomment this section to mandate HTTPS for all Web API requests to the site  -->
            <filter desc="RequireHttpsFilter">Sitecore.Services.Infrastructure.Web.Http.Filters.RequireHttpsFilter, Sitecore.Services.Infrastructure</filter>            
          </filters>
          <delegatingHandlers hint="list:AddDelegatingHandler">
            <delegatingHandler desc="TokenDelegatingHandler" patch:instead="delegatingHandler[@desc='TokenDelegatingHandler']">SitecoreX.WebApi.DelegatingHandlers.TokenDelegatingHandler, SitecoreX.WebApi</delegatingHandler>
          </delegatingHandlers>
          <allowedControllers hint="list:AddController">
            <allowedController desc="SitecoreXController">SitecoreX.WebApi.Controllers.SitecoreXController, SitecoreX.WebApi</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>
