<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <!--  SERVICES
            ServiceLifetime: [Singleton|Transient|Scoped]
      -->
      <register serviceType="SitecoreX.Services.Abstractions.ISitecoreXService, SitecoreX" implementationType="SitecoreX.Services.SitecoreXService, SitecoreX" lifetime="Transient" />

      <configurator type= "SitecoreX.DependencyInjection.ServicesConfigurators.SitecoreXServicesConfigurator, SitecoreX.DependencyInjection"/>
    </services>
  </sitecore>
</configuration>
<!--https://doc.sitecore.net/sitecore_experience_platform/developing/developing_with_sitecore/dependency_injection-->